
.header {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


h1 {
  text-align: center;
}

body {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color: #DAF0F7;
}


.drawingDiv {
  display: flex;
}
.menu {
  display:flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0px 30px;

}

.colorPalette {
  margin: 25px 25px;
}
.paletteRow{
  display:flex;
  display:flex; 
  flex-direction: row;
  min-width: 200px;
}
.paletteBox {
  flex: auto;
  border-style: solid;
  border-width: 1px;
  min-width: 50px;
  min-height: 50px;
}

.menuBtn {
  flex: auto;
  margin: 10px;
  padding: 10px;
  background-color: bisque;
  border-radius: 25%;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  text-align: center;

}
a:visited {
  text-decoration: none;
}

.container {
  display: flex; 
  flex-wrap: wrap; 
  
  justify-content: center; 
  align-items:center;
  
  /*fixed height and width, as per specification */
  width: 1000px;
  height: 1000px;
}

.rowContainer {
  display:flex; 
  flex-wrap: nowrap; 
  flex: auto;
  
  width: 1000px; /*fixed width, as per specification */
  /* height: is dynamically generated */
  
  flex-direction: row; 
  margin: 0px ;
  padding: 0px; 
}


.gridBox {
  border-style: solid;
  border-color: lightgrey;
  border-width: 0.5px; 
  
  /* width: is dynamically generated */
  /* height: is dynamically generated */
  
  margin:0px; 
  padding: 0px;

  box-sizing: border-box;
}

.gridBoxBackgroundColor {
  background-color: white;
}


.lineBreak {
  flex-basis: 100%; 
  height: 0px;
  margin: 0px;

}







.pBColorRed {
  background-color: red;
}
.pBColorOrange {
  background-color: orange;
}
.pBColorBlue {
  background-color: blue;
}
.pBColorGreen {
  background-color: green;
}
.pBColorMoreGreen {
  background-color: rgb(0, 128, 0);
}
.pBColorRed {
  background-color: red;
}
.pBColorRed {
  background-color: red;
}
.pBColorRed {
  background-color: red;
}
.pBColorRed {
  background-color: red;
}
.pBColorRed {
  background-color: red;
}
.pBColorRed {
  background-color: red;
}
.pBColorRed {
  background-color: red;
}
.pBColorRed {
  background-color: red;
}
.pBColorRed {
  background-color: red;
}
.pBColorRed {
  background-color: red;
}
.pBColorRed {
  background-color: red;
}