
h1 {
  text-align: center;
}

body {
  background-color: #DAF0F7;
}

.gridBox {
  background-color: white;
}


/*.gridBox:hover {
    background-color: pink;
    transition-duration: 500ms;
    transition .05s ease;


}

br {
  flex-basis: 100%;
}
